<fieldset data-payment-target="additionalFields" data-type="Purchase order">
  <div class="my-5">
    <%= form.label :po_number, t('.po_number') %>
    <%= form.text_field :po_number, class: "input-field" %>
  </div>
</fieldset>